mixin h1(v)
	.container
		.row
			.col-12
				h1= v

mixin svg(icon, name_class, width,height)
	svg.icon(class=name_class?name_class:'', width=width?width:'', height=height?height:'')
		use(xlink:href='assets/sprites/sprite.svg#'+icon)

mixin dropDown(data)
	.dropdown(class=data.size=='big'?'dropdown_big':'').hover
		.dropdown__head= data.head
			span.dropdown__arr
				+svg('ic-arrow-down','ic-arrow-down', '10', '7')
		.dropdown__list
			each item in data.list
				.dropdown__item= item.title