extends ../layout/main

block variables
	- var title = 'Food menu';

block content
	section.container
		.d-none.d-md-block
			.new-order
				.new-order__main
					include ../components/top-panel

					.new-order__content
						.catalog
							include ../components/catalog-menu

							.catalog__content
								section.catalog__action
									.cat-filter
										.cat-filter__item.active
											.cat-filter__text All
										.cat-filter__item
											.cat-filter__icon
												img(src='/assets/img/broccoli.svg', alt='')
											.cat-filter__text Vegeterian
										.cat-filter__item
											.cat-filter__icon
												img(src='/assets/img/avocado.svg', alt='')
											.cat-filter__text Vegan
										.cat-filter__item
											.cat-filter__icon
												img(src='/assets/img/gluten.svg', alt='')
											.cat-filter__text Gluten free
										.cat-filter__more
											.cat-filter__more-icon
												+svg('ic-arrow-down','ic-arrow-down', '12', '8')
												+svg('ic-close-thin','ic-close-thin', '12', '12')

											.cat-filter__sub
												.cat-filter__item
													.cat-filter__icon
														img(src='/assets/img/broccoli.svg', alt='')
													.cat-filter__text Vegeterian
												.cat-filter__item
													.cat-filter__icon
														img(src='/assets/img/avocado.svg', alt='')
													.cat-filter__text Vegan
												.cat-filter__item
													.cat-filter__icon
														img(src='/assets/img/gluten.svg', alt='')
													.cat-filter__text More
												.cat-filter__item
													.cat-filter__icon
														img(src='/assets/img/avocado.svg', alt='')
													.cat-filter__text Vegan
												.cat-filter__item
													.cat-filter__icon
														img(src='/assets/img/gluten.svg', alt='')
													.cat-filter__text Ipsum
												.cat-filter__item
													.cat-filter__icon
														img(src='/assets/img/broccoli.svg', alt='')
													.cat-filter__text Vegeterian
												.cat-filter__item
													.cat-filter__icon
														img(src='/assets/img/avocado.svg', alt='')
													.cat-filter__text Lorem
									.view
										.view__item.active
											+svg('ic-view-line','ic-view-line', '20', '14')

										.view__item
											+svg('ic-view-tile','ic-view-tile', '14', '14')
							
								.cat-category-wrap
									.cat-category-wrap__content
										section.cat-notice
											.cat-notice__close
												+svg('ic-close','ic-close', '10', '10')
											.cat-notice__head Please notice!
											.cat-notice__text
												| It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
										
										section.cat-category
											.cat-category-desc
												.cat-category-desc__icon
													+svg('ic-burger','ic-burger', '40', '40')
												.cat-category-desc__content
													.cat-category-desc__head Entrees
													.cat-category-desc__text Lorem ipsum dolor sit amet, consectetur adipiscing elit
											
											// .catalog-list.catalog-list_tile
											.catalog-list
												-
													var list=[
														{img:'steak-big.jpg', new:'true', name:'Steak with vegetables', cur_price:'$ 5,99', old_price:'$ 7,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit', ic_gluten:'true'},
														{img:'cucumder-big.jpg', name:'Cucumber', cur_price:'$ 0,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit', weight:'true'},
														{img:'soup-big.jpg', name:'Red soup', cur_price:'$ 5,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit', ic_gluten:'true'},
													];
												each item in list
													.catalog-list__item(class=item.status=='inactive'?'inactive':'')
														a.catalog-list__img(href='#', style="background-image: url('/assets/img/"+item.img+"');")
															if(item.new)
																.catalog-list__new

														.catalog-list__content
															.catalog-list__info
																.catalog-list__desc
																	.catalog-list__name
																		a(href='#')= item.name
																		.catalog-list__price-tile
																			.catalog-list__price-def= item.cur_price
																			if(item.old_price)
																				.catalog-list__price-old= item.old_price
																	.catalog-list__text= item.text
																.catalog-list__price
																	.catalog-list__price-def= item.cur_price
																	if(item.old_price)
																		.catalog-list__price-old= item.old_price
															.catalog-list__bottom
																if(item.weight)
																	.catalog-list__weight
																		.tab-filter
																			.tab-filter__item.active Units
																			.tab-filter__item Kg

																		.counter
																			.counter__min
																				+svg('ic-minus','ic-minus', '13', '2')

																			input.counter__input(type='text', value='2')

																			.counter__max
																				+svg('ic-plus','ic-plus', '13', '13')
																else
																	.catalog-list-icon
																		.catalog-list-icon__item(class=item.ic_gluten?'catalog-list-icon__item_no-bg':'')
																			if(item.ic_gluten)
																				img(src='/assets/img/gluten.svg', alt='')
																			if(item.ic_broccoli)
																				img(src='/assets/img/broccoli.svg', alt='')
																			if(item.ic_avocado)
																				img(src='/assets/img/avocado.svg', alt='')

																	a.catalog-list__btn(href='#')
																		+svg('ic-plus','ic-plus', '12', '12')
																		span.catalog-list__btn-text Add

												
										
												.offer(style='background-image: url(/assets/img/salat.jpg);')
													.offer__head Healthy salad only $ 0,99
													.offer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit

												-
													var list=[
														{img:'steak-big.jpg', new:'true', name:'Steak with vegetables', cur_price:'$ 5,99', old_price:'$ 7,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit', ic_gluten:'true'},
														{img:'vegan-big.jpg', name:'Vegan joy', cur_price:'$ 7,59', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit', ic_broccoli:'true', ic_avocado:'true'},
														{img:'soup-big.jpg', name:'Red soup', cur_price:'$ 5,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit', ic_gluten:'true'},
													];
												each item in list
													.catalog-list__item(class=item.status=='inactive'?'inactive':'')
														a.catalog-list__img(href='#', style="background-image: url('/assets/img/"+item.img+"');")
															if(item.new)
																.catalog-list__new

														.catalog-list__content
															.catalog-list__info
																.catalog-list__desc
																	.catalog-list__name
																		a(href='#')= item.name
																		.catalog-list__price-tile
																			.catalog-list__price-def= item.cur_price
																			if(item.old_price)
																				.catalog-list__price-old= item.old_price
																	.catalog-list__text= item.text
																.catalog-list__price
																	.catalog-list__price-def= item.cur_price
																	if(item.old_price)
																		.catalog-list__price-old= item.old_price
															.catalog-list__bottom
																.catalog-list-icon
																	.catalog-list-icon__item(class=item.ic_gluten?'catalog-list-icon__item_no-bg':'')
																		if(item.ic_gluten)
																			img(src='/assets/img/gluten.svg', alt='')
																		if(item.ic_broccoli)
																			img(src='/assets/img/broccoli.svg', alt='')
																		if(item.ic_avocado)
																			img(src='/assets/img/avocado.svg', alt='')

																a.catalog-list__btn(href='#')
																	+svg('ic-plus','ic-plus', '12', '12')
																	span.catalog-list__btn-text Add
						
										section.cat-category
											.cat-category-desc
												.cat-category-desc__icon
													+svg('ic-burger','ic-burger', '40', '40')
												.cat-category-desc__content
													.cat-category-desc__head Entrees
													.cat-category-desc__text Lorem ipsum dolor sit amet, consectetur adipiscing elit
											
											// .catalog-list.catalog-list_tile
											.catalog-list
												-
													var list=[
														{img:'steak-big.jpg', new:'true', name:'Steak with vegetables', cur_price:'$ 5,99', old_price:'$ 7,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit', ic_gluten:'true'},
														{img:'vegan-big.jpg', name:'Vegan joy', cur_price:'$ 7,59', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit', ic_broccoli:'true', ic_avocado:'true'},
														{img:'soup-big.jpg', name:'Red soup', cur_price:'$ 5,99', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit', ic_gluten:'true'},
													];
												each item in list
													.catalog-list__item(class=item.status=='inactive'?'inactive':'')
														a.catalog-list__img(href='#', style="background-image: url('/assets/img/"+item.img+"');")
															if(item.new)
																.catalog-list__new

														.catalog-list__content
															.catalog-list__info
																.catalog-list__desc
																	.catalog-list__name
																		a(href='#')= item.name
																		.catalog-list__price-tile
																			.catalog-list__price-def= item.cur_price
																			if(item.old_price)
																				.catalog-list__price-old= item.old_price
																	.catalog-list__text= item.text
																.catalog-list__price
																	.catalog-list__price-def= item.cur_price
																	if(item.old_price)
																		.catalog-list__price-old= item.old_price
															.catalog-list__bottom
																.catalog-list-icon
																	.catalog-list-icon__item(class=item.ic_gluten?'catalog-list-icon__item_no-bg':'')
																		if(item.ic_gluten)
																			img(src='/assets/img/gluten.svg', alt='')
																		if(item.ic_broccoli)
																			img(src='/assets/img/broccoli.svg', alt='')
																		if(item.ic_avocado)
																			img(src='/assets/img/avocado.svg', alt='')

																a.catalog-list__btn(href='#')
																	+svg('ic-plus','ic-plus', '12', '12')
																	span.catalog-list__btn-text Add

						
				aside.sidebar-order-wrap
					.sidebar-order
						.cat-order
							.cat-order-user
								.cat-order-user__content
									.cat-order-user__photo
										.cat-order-user__photo-icon
											+svg('ic-crown','ic-crown ic-white', '12', '12')
									.cat-order-user__info
										.cat-order-user__head Hello Linda
								.dot-menu
									.dot-menu__icon
										span
									.dot-menu__list
										.dot-menu__item
											a(href='#') My profile
										.dot-menu__item
											a(href='#') Log out

							.cat-address
								.cat-address__content
									.cat-address__label Your address
									.cat-address__text Fishman 19, Tel Aviv
									.cat-address__time
										+svg('ic-alarm','ic-alarm ic-white', '17', '16')
										|You will get it tomorrow 18:30
								a.btn.btn_border-white(href='#') Change

							.cat-history
								form
									.cat-history__form
										.cat-history__content
											.cat-history__top
												.cat-history__title Your order
												.cat-history__link
													+svg('ic-history','ic-history', '16', '16')
													|History

											.cat-order-empty Your cart is empty

										.cat-history__bottom
											.cat-coupon
												.cat-coupon__title Have a coupon?
												.cat-coupon__field
													input(type='text', placeholder='Code')
													a.cat-coupon__btn(href='#') Apply

											button.btn(type='submit') Pay $ 12,34
											.cat-history__copyright
												| Powered by 
												img(src='/assets/img/logo.svg', alt='')
				
				
		.d-md-none
			header.header
				span.ic-hamburger
					span
				.header__logo
					img(src='/assets/img/logo.svg', alt='')
				a.header__link(href='#') Example
			.new-order(*ngif='mobile')
				section.new-order-top
					.new-order-top__content
						.search-form-order-wrap
							.search-form-order-wrap__btn
								+svg('ic-search','ic-search ic-stroke', '16', '16')
								
							.search-form-order-wrap__popup.active
								form.search-form-order
									input(type='text', placeholder='Search')

									.search-form-order__close
										+svg('ic-close-circle','ic-close-circle', '20', '20')

									button(type='submit')
										+svg('ic-search','ic-search ic-stroke', '13', '13')

								.cat-filter
									.cat-filter__item.active
										.cat-filter__text All
									.cat-filter__item
										.cat-filter__icon
											img(src='/assets/img/broccoli.svg', alt='')
										.cat-filter__text Vegeterian
									.cat-filter__item
										.cat-filter__icon
											img(src='/assets/img/avocado.svg', alt='')
										.cat-filter__text Vegan
									.cat-filter__more
										.cat-filter__more-icon.active
											+svg('ic-arrow-down','ic-arrow-down', '12', '8')
											+svg('ic-close-thin','ic-close-thin', '12', '12')

									.cat-filter__sub.active
										.cat-filter__item
											.cat-filter__icon
												img(src='/assets/img/broccoli.svg', alt='')
											.cat-filter__text Vegeterian
										.cat-filter__item
											.cat-filter__icon
												img(src='/assets/img/avocado.svg', alt='')
											.cat-filter__text Vegan
										.cat-filter__item
											.cat-filter__icon
												img(src='/assets/img/gluten.svg', alt='')
											.cat-filter__text More
										.cat-filter__item
											.cat-filter__icon
												img(src='/assets/img/avocado.svg', alt='')
											.cat-filter__text Vegan
										.cat-filter__item
											.cat-filter__icon
												img(src='/assets/img/gluten.svg', alt='')
											.cat-filter__text Ipsum
										.cat-filter__item
											.cat-filter__icon
												img(src='/assets/img/broccoli.svg', alt='')
											.cat-filter__text Vegeterian
										.cat-filter__item
											.cat-filter__icon
												img(src='/assets/img/avocado.svg', alt='')
											.cat-filter__text Lorem
						.page-mob-profile.active
							.page-mob-profile__content
								.page-mob-profile__photo
									.page-mob-profile__photo-icon
										+svg('ic-crown','ic-crown ic-white', '12', '12')
								.page-mob-profile__info
									.page-mob-profile__head Hello Linda
									.page-mob-profile__text 1356 Customers club points
								.dot-menu
									.dot-menu__icon
										span
									.dot-menu__list
										.dot-menu__item
											a(href='#') My profile
										.dot-menu__item
											a(href='#') Log out
					.view
						.view__item.view__item_line.active
							+svg('ic-view-line','ic-view-line', '20', '14')

						.view__item.view__item_tile
							+svg('ic-view-tile','ic-view-tile', '14', '14')
				
				
				include ../components/catalog-menu

				//- section.catalog-list.catalog-list_tile
				section.catalog-list
					.catalog-list__item
						a.catalog-list__img(href='#', style="background-image: url('/assets/img/steak-big.jpg');")
							.catalog-list__new
						.catalog-list__content
							.catalog-list__info
								.catalog-list__desc
									.catalog-list__name
										a(href='#') Steak with vegetables
										.catalog-list__price-tile
											.catalog-list__price-def $ 5,99
											.catalog-list__price-old $ 7,99
									.catalog-list__text Lorem ipsum dolor sit amet, consectetur adipiscing elit
								.catalog-list__price
									.catalog-list__price-def $ 5,99
									.catalog-list__price-old $ 7,99
							.catalog-list__bottom
								.catalog-list-icon
									.catalog-list-icon__item.catalog-list-icon__item_no-bg
										img(src='/assets/img/gluten.svg', alt='')
								a.catalog-list__btn(href='#')
									+svg('ic-plus','ic-plus', '12', '12')
									span.catalog-list__btn-text Add

					.catalog-list__item
						a.catalog-list__img(href='#', style="background-image: url('/assets/img/cucumder-big.jpg');")
						.catalog-list__content
							.catalog-list__info
								.catalog-list__desc
									.catalog-list__name
										a(href='#') Cucumber
										.catalog-list__price-tile
											.catalog-list__price-def $ 0,99
									.catalog-list__text Lorem ipsum dolor sit amet, consectetur adipiscing elit
								.catalog-list__price
									.catalog-list__price-def $ 0,99
							.catalog-list__bottom
								.catalog-list__weight
									.tab-filter
										.tab-filter__item.active Units
										.tab-filter__item Kg

									.counter
										.counter__min
											+svg('ic-minus','ic-minus', '13', '2')

										input.counter__input(type='text', value='2')

										.counter__max
											+svg('ic-plus','ic-plus', '13', '13')

					.catalog-list__item
						a.catalog-list__img(href='#', style="background-image: url('/assets/img/soup-big.jpg');")
						.catalog-list__content
							.catalog-list__info
								.catalog-list__desc
									.catalog-list__name
										a(href='#') Red soup
										.catalog-list__price-tile
											.catalog-list__price-def $ 5,99
									.catalog-list__text Lorem ipsum dolor sit amet, consectetur adipiscing elit
								.catalog-list__price
									.catalog-list__price-def $ 5,99
							.catalog-list__bottom
								.catalog-list-icon
									.catalog-list-icon__item.catalog-list-icon__item_no-bg
										img(src='/assets/img/gluten.svg', alt='')
								a.catalog-list__btn(href='#')
									+svg('ic-plus','ic-plus', '12', '12')
									span.catalog-list__btn-text Add
					.catalog-list__item
						a.catalog-list__img(href='#', style="background-image: url('/assets/img/steak-big.jpg');")
							.catalog-list__new
						.catalog-list__content
							.catalog-list__info
								.catalog-list__desc
									.catalog-list__name
										a(href='#') Steak with vegetables
										.catalog-list__price-tile
											.catalog-list__price-def $ 5,99
											.catalog-list__price-old $ 7,99
									.catalog-list__text Lorem ipsum dolor sit amet, consectetur adipiscing elit
								.catalog-list__price
									.catalog-list__price-def $ 5,99
									.catalog-list__price-old $ 7,99
							.catalog-list__bottom
								.catalog-list-icon
									.catalog-list-icon__item.catalog-list-icon__item_no-bg
										img(src='/assets/img/gluten.svg', alt='')
								a.catalog-list__btn(href='#')
									+svg('ic-plus','ic-plus', '12', '12')
									span.catalog-list__btn-text Add
					.catalog-list__item.inactive
						a.catalog-list__img(href='#', style="background-image: url('/assets/img/vegan-big.jpg');")
						.catalog-list__content
							.catalog-list__info
								.catalog-list__desc
									.catalog-list__name
										a(href='#') Vegan joy
										.catalog-list__price-tile
											.catalog-list__price-def $ 7,59
									.catalog-list__text Lorem ipsum dolor sit amet, consectetur adipiscing elit
								.catalog-list__price
									.catalog-list__price-def $ 7,59
							.catalog-list__bottom
								.catalog-list-icon
									.catalog-list-icon__item
										img(src='/assets/img/broccoli.svg', alt='')
									.catalog-list-icon__item
										img(src='/assets/img/avocado.svg', alt='')
								a.catalog-list__btn(href='#')
									+svg('ic-plus','ic-plus', '12', '12')
									span.catalog-list__btn-text Add
					.catalog-list__item.inactive
						a.catalog-list__img(href='#', style="background-image: url('/assets/img/soup-big.jpg');")
						.catalog-list__content
							.catalog-list__info
								.catalog-list__desc
									.catalog-list__name
										a(href='#') Red soup
										.catalog-list__price-tile
											.catalog-list__price-def $ 5,99
									.catalog-list__text Lorem ipsum dolor sit amet, consectetur adipiscing elit
								.catalog-list__price
									.catalog-list__price-def $ 5,99
							.catalog-list__bottom
								.catalog-list-icon
									.catalog-list-icon__item.catalog-list-icon__item_no-bg
										img(src='/assets/img/gluten.svg', alt='')
								a.catalog-list__btn(href='#')
									+svg('ic-plus','ic-plus', '12', '12')
									span.catalog-list__btn-text Add
				.catalog-magnit-btn
					a.btn(href='#') Your order: $86